<h1>Delivery Details</h1>

<p><strong>Order ID:</strong> <%= @delivery.order.id %></p>
<p><strong>Vehicle:</strong> <%= @delivery.vehicle.model %></p>
<p><strong>Driver:</strong> <%= @delivery.driver.first_name %> <%= @delivery.driver.last_name %></p>
<p><strong>Delivery Date:</strong> <%= @delivery.delivery_date.strftime('%d %B %Y') if @delivery.delivery_date %></p>
<p><strong>Status:</strong> <%= @delivery.status %></p>

<div style="margin-top: 20px;">
  <%= link_to 'Back to Deliveries', deliveries_path, class: 'btn btn-info', style: 'margin-right: 10px;' %>
  <%= link_to 'Edit', edit_delivery_path(@delivery), class: 'btn btn-warning', style: 'margin-right: 10px;' %>
  <%= form_with(model: @delivery, method: :delete, html: { style: 'display: inline;' }) do %>
    <%= submit_tag 'Delete', data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
  <% end %>
</div>

